.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 90vh;
    width: 90vh;
    background-color: #ccc;
}
.board div:nth-child(-2n+8),
.board div:nth-child(8) ~ div:nth-child(-2n+15),
.board div:nth-child(16) ~ div:nth-child(-2n+24),
.board div:nth-child(24) ~ div:nth-child(-2n+31),
.board div:nth-child(32) ~ div:nth-child(-2n+40),
.board div:nth-child(40) ~ div:nth-child(-2n+47),
.board div:nth-child(48) ~ div:nth-child(-2n+56),
.board div:nth-child(56) ~ div:nth-child(-2n+63) {
    background-color: black;
}
