@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&family=Amatic+SC:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand img {
    height: 75px;
}
#navbarNavAltMarkup {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    font-family: "Alegreya";
    font-weight: 600;
    font-size: 1.2em;
    color: #111;
}
#header-back {
    background-image: url(bg-header.jpg);
    background-size: cover;
    /* parallax effect: */
    background-attachment: fixed;
    height: 100vh;
}
.navbar {
    position: fixed;
    width: 100vw;
    opacity: 0.9;
}
#ambience {
    background-image: url(ambiance.jpg);
    background-size: cover;
    height: 80vh;
}
p {
    font-family: "Alegreya";
    font-size: 1.2em;
}
h2 {
    font-family: "Amatic SC";
    font-weight: 700;
    font-size: 3em;
    text-align: center;
}
h2 span {
    display: block;
}
h2 span:nth-child(1) {
    color: #33baaf;
    font-size: 0.7em;
}
h2 span:nth-child(1)::before, h2 span:nth-child(1)::after {
    content: "-";
    padding: 0.2em;
}
h2 span:nth-child(2) {
    color: #f6af33;
}

