* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header {
    background-color: orange;
    padding: 0.5em 0;
    position: fixed;
    width: 100vw;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
nav ul a {
    color: white;
    margin: 0.5em;
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(headerback.jpg);
    background-size: cover;
}
