
*{
    margin: 0;
    padding:0;
    box-sizing: border-box; 
}

body{
    height: 100vh;
    animation-name: blur;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
img {
    height: 100vh;
    width: 100vw;

}
@keyframes blur {
    from{
        filter:saturate(1);
    }
    to { filter: saturate(0);
    }
}