body {
    height: 200vh;
}
div {
    width: 5em;
    height: 5em;
    font-family: sans-serif;
    color: white;
    text-align: center;
    line-height: 5em;
}
#a {
    background-color: palevioletred;
    position: relative;
    top: 1em;
    right: -1em;
}
#b {
    background-color: saddlebrown;
    position: absolute;
    top: 3em;
    right: 2em;
}
#c {
    background-color: skyblue;
    position: fixed;
    top: 0;
    left: 50%;
    margin: auto;
}
#d {
    background-color: teal;
    position: sticky;
    top: 1em;
}
#parinte {
    width: 10em;
    height: 10em;
    background-color: turquoise;
    position: fixed;
}
#copil {
    background-color: sandybrown;
    position: absolute;
    top: 2em;
}