h1 {
    color: darkorange;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}